.forgot-page {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;

background: linear-gradient(
135deg,
#7CFC00,
#f5f5f5
);

font-family: Arial, sans-serif;
}

.forgot-card {
width: 450px;

background: white;

padding: 30px;

border-radius: 15px;

box-shadow: 0px 4px 15px rgba(0,0,0,0.2);

text-align: center;
}

.forgot-card h2 {
color: #2e7d32;
}

.forgot-card input {
width: 90%;

padding: 12px;

margin-top: 10px;

border: 1px solid #ccc;

border-radius: 8px;
}

.forgot-card button {
width: 95%;

padding: 12px;

margin-top: 15px;

border: none;

border-radius: 8px;

background-color: #2e7d32;

color: white;

cursor: pointer;
}

.forgot-card button:hover {
background-color: #1b5e20;
}
